body {
    background-color: lavenderblush;
    color: teal;

}

main {
    border: 1px solid teal;
    width: 25%;
   
    margin: auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
}

.hide {
    display: none;
}

#begin,
#questions {
    padding: 0;
}

/* div {
    padding-left: 100px;
} */

button {
    margin: 25px;
    margin-top: 50px;
    align-items: center;
}

#rightOrWrong {
    font-style: italic;
}

